*{
    margin: 0%;padding: 0%;box-sizing: border-box;
    font-family: 'Josefin Sans';
}

header{
    width: 100%;height: 125vh;
   background-image:linear-gradient(rgba(0,0,0.3),rgba(0,0,0,0.1)), url(./image/Taj-Mahal-Agra-India.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    width: 100%;height: 15vh;
    background: rgba(0,0,0,0.2);
    color: white;display: flex;justify-content: space-between;
    align-items: center; text-transform: uppercase;
}
nav .logo{
    width: 25%;text-align: center;
    
}
nav .menue{
    width: 40%; 
    display: flex; justify-content: space-around;
}

nav .menue a{
    width: 25%;
    text-decoration: none; color: white;
    font-weight: bold;
}
nav .menue a:first-child{
   color:  #00b894;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; color: white;  
}

section{

}

section h3{
    font-size: 35px; font-weight: 200; letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;}

    section h1{
        margin: 30px 0 20px 0;
        font-size: 55px;
        font-weight: 700;
        text-shadow: 2px 1px 5px black;
        text-transform: uppercase;
    }
    section p{
        font-size: 25px;
        word-spacing: 2px;
        margin-bottom: 25px;
        text-shadow: 1px 1px 1px black;
    }
    section a{
        padding: 10px 30px;
        border-radius: 4px;
        outline: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 1px;
        transition:all;
    }
    section .btnone{
        /* background: #00b894; */
        background: #fff;
        color: #000;
    }
    .btnone:hover{
        background: #00b894;
        color: white;
    }

    section .btntwo{ 
        background: #00b894;
        color: white;
    }
    .btntwo:hover{
        background: #fff;
        color: black;
    }
span.change_content{
    color: #00b894;
}